.card-habilidade {
  padding: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 20px;
  max-width: 100%;
  width: 360px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background-color: #f5f2f2;
  line-height: 1.5;
  /* grid-template-rows: 20px 50px 1fr 50px;  */
}

.habi-numeros {
  height: 20px;
  position: relative;
  border: 0px;
  line-height: 10px;
  background-color: #eee;
  padding: 5px;
  width: 100%;
  max-width: 255px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
}
/* span {
  color: #888;
  font-family: Var(--type-first);
  z-index: 99;
  align-self: center;
  position: relative;
} */

.cor{
  height: 20px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  display: flex;
  /* animation: ${(props) => Size(props.size)} forwards; */
  animation-duration: 1.5s;
  align-items: center;
  animation-delay: 0.3s;
  box-shadow: 1px 0px 2px #7c2300;
  top: 0;
  background-color: #ff5959;
}

.progress{
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;

}

.habilidades{
  background-color: #e9ecef;
  width: 200px;
  
}

li{
  list-style: none;
}

.span{
  position: relative;
  bottom: 65px;
}

.card2{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 100%;
  width: 360px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.stats {
  display: flex;
  flex-direction: column;
}

.hp, .attack, .defense, .spattack, .spdefense, .speed{
 height: 18px;
 
}


